<%- include("./templates/header.ejs") %>
    <%- include("./templates/nav_resto.ejs") %>
    <main class="mainEstilo">
        <h1>Instalaciones</h1>
        <% instalacionesOk.forEach(element=> { %>
            <h3>
                <%= element.tipo %>
            </h3>
            <p>
                <%= element.descripcion %>
            </p>
            <% }) %>
                </main>
                <%- include("./templates/footer.ejs") %>